.content {
  padding: 1.25em 1.5em;
  margin-top: 60px;
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.board {
  display: flex;
  margin: 1em 1em 0 0;
  align-items: flex-start;
}

.columns {
  display: flex;
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  background: #ebecf0;
  margin-right: 0.5em;
  min-width: 25em;
  font-weight: bold;
  border-radius: 0.2em;
  padding: 0.5em;
}

.column-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.column-title > i {
  position: relative;
  top: 4px;
  margin-left: 5px;
}

.column-title > a {
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.column-title > span {
  overflow-wrap: anywhere;
}

.column-title noscript{
  display: flex;
  flex-direction: row;
}

.card {
  margin: 0.25em 0;
  padding: 0.5em;
  height: auto;
}

.add-card {  
  margin: 0.25em 0;
}

.add-card .input-group-text {
  background-color: #157ffb;
  color: white;
}

.add-column .input-group-text {
  background-color: #157ffb;
  color: white;
}

.invisible-btn {
  border: none;
}

.invisible-btn:hover {
  color: rgb(59, 59, 59);
}

.invisible-link {
  color: black;
}

.invisible-link:hover {
  color: rgb(59, 59, 59);
}

.invisible-btn-card{
  color: black;
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
}

.invisible-btn-card:hover {
  color: rgb(59, 59, 59);
}

.errors{
  color: red;
  font-weight: bold;
}

.errors p{
  margin : 0px;
}

.card-name{
  color: red;
  font-weight: bold;
}

.card.expired {
  background-color: #cb444a;
}

.card.expired .card-title a {
  color: white;
}

.cards{
  /*border: 1px solid red;*/
  min-height: 20px;
  list-style-type: none;
}

label.error {
    position: relative;
    font-weight: bold;
    top: 55px;
    right: 260px;
    white-space : nowrap;
    color: red;
    padding-left: 0px;
    width: 0;
}

.ui-dialog-content{
  display: block !important;
}

.ui-widget-header {
  background: #157ffb !important;
  border: #1473e0 !important;
}