.content {
    margin-top: 60px;
    padding: 1.25em 1.5em;
    
    font-weight: 500;
  }

  a {
    text-decoration: none;
}

.calendar{
    color: white;
}

noscript{
  color: #dc3848;
}

.redBorder{
  border: 3px solid red !important;
}

.blackBorder{
  border: 3px solid black !important;
}