.content {
    padding: 1.25em 1.5em;
    margin-top: 60px;
    flex-grow: 1;
  }

  a {
    text-decoration: none;
  }

  .card-header{
    background-color: white;
    border: none;
  }

  textarea{
    height:300px;
  }

  h3{
    margin:10px 0px;
    font-size: medium;
  }

  h4{
    font-size: medium;
    color: rgb(145, 151, 157);
  }

  .buttons{
    margin:15px 0px;
  }

  .errors{
    color: red;
    font-weight: bold;
  }

  .errors p{
    margin : 0px;
  }

.invisible-btn {
  border: none;
  background-color: transparent;
}

.invisible-btn:hover {
  color: rgb(59, 59, 59);
}

.participant {
  color:#157ffb;
}

.add-participant {
  background-color: #157ffb;
  color: white;
}

label.error {
  color: red;
}