.menu {
  padding: 0.75em 0.75em 0.25em;
  display: flex;
  background: #157ffb;
  color: white;
  font-size: larger;
  font-weight: 600;
}

.spacer {
  flex-grow: 1;
}

.buttons {
    position: relative;
    top: -3px;
}

.signin {
    font-size: large;
    color: white;
    opacity: 0.4;
}

.signup {
    font-size: large;
    color: white;
    opacity: 0.4;
}
